<p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
<p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
<p class="go-to brandon">In the meantime, head to  <a href="http://www.creatorarcade.com/">WWW.CREATORARCADE.COM</a></p>
<p class="again brandon">Thank You Again!</p>
